* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-image: url("../images/bg-bar.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#content {
	min-height: 100vh;
	min-width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	color: #ddbea9;
}

.header-container {
	color: #fed4ad;
	background-image: linear-gradient(rgba(17, 19, 19, 0), rgba(17, 19, 19, 0.9));
	font-family: "Tangerine", cursive;
	padding: 10px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

@media only screen and (min-width: 601px) {
	.header-container {
		font-size: 56px;
	}
}

@media only screen and (max-width: 600px) {
	.header-container {
		font-size: 42px;
	}
}

.nav-bar {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	transition-property: all;
	transition-duration: 0.6s;
	transition-timing-function: ease;
}

.content-container {
	background-image: linear-gradient(rgba(17, 19, 19, 0.9), rgba(17, 19, 19, 0));
	border-top: 2px solid #fed4ad;
	font-family: "Caveat", cursive;
	flex: 2;
	text-align: center;
	padding: 0 15%;
}

.footer-container {
	color: #fed4ad;
	font-family: "Caveat", cursive;
	font-size: 30px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	background-image: linear-gradient(rgba(17, 19, 19, 0), rgba(17, 19, 19, 0.9));
}

.nav-btn {
	border: none;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0);
	color: #fed4ad;
	cursor: pointer;
	font-size: 28px;
	font-weight: 400;
	line-height: 45px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
	font-family: "Caveat", cursive;
	letter-spacing: 0;
	padding: 0 1em;
}

.nav-btn:hover {
	text-decoration: none;
}

.nav-btn:hover,
.nav-bar:active {
	letter-spacing: 5px;
}

.nav-btn:after,
.nav-bar:before {
	backface-visibility: hidden;
	border: 1px solid rgba(254, 212, 173, 0);
	bottom: 0px;
	content: " ";
	display: block;
	margin: 0 auto;
	position: relative;
	transition: all 280ms ease-in-out;
	width: 0;
}

.nav-btn:hover:after,
.nav-btn:hover:before {
	backface-visibility: hidden;
	border-color: #fed4ad;
	transition: width 350ms ease-in-out;
	width: 70%;
}

.nav-btn:hover:before {
	bottom: auto;
	top: 0;
	width: 70%;
}

.nav-bar .active {
	text-shadow: 0 0 6px #dcdddc, 0 0 10px #dcdddc, 0 0 40px #fed4ad, 0 0 80px #fed4ad, 0 0 90px #fed4ad;
}
