* {
	margin: 0;
}

#content {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 20% 10% 60% 10%;
	grid-template-areas: "header" "nav " "content" "footer";
	background-color: #ffe8d6;
	color: #ddbea9;
	background-image: url("../src/bg-bar.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	justify-content: center;
}

.header-container {
	grid-area: header;
	color: white;
}

.nav-bar {
	grid-area: nav;
}

.content-container {
	grid-area: content;
}

.footer-container {
	grid-area: footer;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
